@model Garage2_0.Models.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Parked vehicles</h1>

<form asp-action="index">
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="RegistrationNumber" placeholder="Search on registration number..." />
        <div class="input-group-append">
            <select asp-for="Color" asp-items="@Model.Colors" class="form-control">
                <option selected="selected" value="">Color</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
        
            </th>

     
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParkedVehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleModel)
                </td>
           
            </tr>
        }
    </tbody>
</table>

