@model IndexViewModel

@{
    ViewData["Title"] = "Index";
}


<h1 class="text-light bg-info border rounded-lg p-5">Parked Vehicles</h1>
<form asp-action="index">
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="RegistrationNumber" placeholder="Search on registration number..." />
        <div class="input-group-append">
            <select asp-for="Color" asp-items="@Model.Colors" class="form-control">
                <option selected="selected" value="">Color</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>
<div class="btn-group col-sm-3 col mr-5 ">
    <a class="btn btn-outline-primary " asp-action="Create">Check In</a>
</div>

<partial name="IndexListPartial" model="@Model.ParkedVehicles" />
