@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> THE GARAGE 2.0</h1>
 <p> WELCOME TO THE GARAGE 2.0!</p><br />
 <p> SERVICES FOR ALL TYPES OF VEHICLES</p>
    <p>HERE YOU CAN PARK AND UNPARK YOUR VEHICLES</p>
</div>
