@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4 font-weight-bold">THE GARAGE 2.0</h1>
 <p> WELCOME TO THE GARAGE 2.0!</p>
 <p> SERVICES FOR ALL TYPES OF VEHICLES</p>
 <p><a asp-area="" asp-controller="ParkedVehicles" asp-action="Index" class="text-info">CLICK HERE TO PARK AND CHECK OUT YOUR VEHICLES</a></p>
</div>
